<h1>Create a new collection!</h1>
<form method="POST" action="/collections">
  <label for="collection_name">Collection Name: </label>
  <input type="text" name="collection[name]" id="collection_name">
  <label for="collection_description">Collection Name: </label>
  <input type="text" name="collection[description]" id="collection_description">
  <br>
  <h4>Create new item: </h4>
  <label for="item_name">Item Name: </label>
  <input type="text" name="item[name]" id="item_name">
  <label for="item_description">Item Description: </label>
  <input type="text" name="item[description]" id="item_description">
  <input type="submit" value="Create new collection">
</form>