<h1>Please log into your account below!</h1>
<form method="POST" action="/login">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Log In">
</form>
<br>
<p><a href="/">Click here</a> to return to the homepage.</p>