<h1>Welcome to Collect Nation!</h1>
<h2>Collect Nation allows you to make collections of all your favorite things. View collections from other users and connect with people who have similar interests!</h2>
<h4>To begin, please sign up for a new account or log in to an  existing account.</h4>